<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-aop:war exploded">
    <output-path>$PROJECT_DIR$/../tutorials-master/tutorials-master/spring-aop/target/spring-aop-0.0.1-SNAPSHOT</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>spring-aop</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-aop" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/../tutorials-master/tutorials-master/spring-aop/target/spring-aop-0.0.1-SNAPSHOT/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-aop/web/Web" />
    </root>
  </artifact>
</component>